extends layouts/main

block content 
<<<<<<< HEAD
    .search__header        
        h3 Searching for: #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Video Found
        each item in videos
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile,
                id:item.id
            }) 
=======
    p hi
>>>>>>> parent of aca91d8 (3.2까지 완료)
